.content {
  padding: 20px;
}
.wrapperCommon {
  display: flex;
  gap: 30px;
}
.wrapperItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.info li {
  list-style-type: none;
}
