.myPost{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.myPostTitle{
  grid-area: title;
}
.myPostTextarea{
  margin: 0 auto;
  width: 80%;
  min-height: 50px;
  grid-area: textarea;
}
.myPostButton{
  grid-area: button;
}

.posts{
  grid-area: posts;
  display: grid;
  grid-gap: 30px;
}
.postsItems{
  display: flex;
  flex-direction: column;
}