.wrapperNavAside{
  grid-area: nav;
  background-color: burlywood;
  display: grid;
  grid-auto-rows: minmax(150px, 400px);

  text-decoration: none;
  color: saddlebrown;
  padding: 10px;
}
.navBar{
  display: grid;
  grid-auto-rows: minmax(30px, 50px);
  grid-template-columns: 1fr;
  grid-gap: 10px;

}
.navBar a, .myFriendsList{
  font-size: 2rem;
}

.navBar a.activeLink{
  color: chocolate;
}
.navBar a:last-of-type{
  margin-top: 20px;
}