.wrapper {
  /*display: flex;*/
  /*gap: 15px;*/
  /*color: dimgrey;*/
  /*font-size: 24px;*/
  /*padding: 10px 15px;*/

  /*min-width: 150px;*/
}

.avatarBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 70px;
}

.userInfo {
  display: flex;
  gap: 5px;
  padding: 5px;

  border: 2px solid dimgrey;
  border-radius: 5px;
  width: 100%;
}

.nameStatus {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 80%;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.status {
  font-size: 18px;
}
