.app-wrapper{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  grid-template-areas: 'header header'
                        'nav profile';
}

.header{
  grid-area: header;
  background-color: indianred;
}
.header__logo{
  width: 50px;
  heigth: 50px;
}

.navBar{
  grid-area: nav;
  background-color: burlywood;
  
  display: grid;
  grid-auto-rows: minmax(30px, 50px);
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
.navBar a{
  text-decoration: none;
  color: brown;
  font-size: 2rem;
}
.navBar a:last-of-type{
  margin-top: 20px;
}

.profile{
  grid-area: profile;
  background-color: silver;
}
.profile__backImg{
  width: 100%;
  height: 30%;
  object-fit: cover;
}

.profile__content{
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 4fr;
  grid-gap: 30px;
  grid-template-areas: 'img info '
                        'posts posts ';
  align-items: center;
}
.profile__img{
  width: 100%;
  
  grid-area: img;
}
.profile__info{
  grid-area: info;
}
.profile__myPost{
  display: grid;
  grid-template-rows: 2fr 4fr 1fr;
  grid-template-columns: 2fr 4fr 1fr;
  grid-gap: 20px;
  grid-template-areas: 'title . .'
                      'textarea textarea textarea'
                        '. . button'
  
}
.profile__myPost___title{
  grid-area: title;
}
.profile__myPosts__textarea{
  margin: 0 auto;
  width: 80%;
  min-height: 50px;
  grid-area: textarea;
}
.profile__myPosts__button{
  grid-area: button;
}

.profile__posts{
  grid-area: posts;
  display: grid;
  
}

.profile__posts_item{
  display: flex;
  gap: 30px;
  align-items: center;
}
.profile__posts_itemImg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}